In [56]:
import pandas as pd

In [57]:
#Empty df
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [59]:
#From Lists to get Data 
city = ['Berlin','Dhaka','Delhi']
city

['Berlin', 'Dhaka', 'Delhi']

In [60]:
df = pd.DataFrame(city)
df

        0
0  Berlin
1   Dhaka
2   Delhi

In [61]:
type(df)

pandas.core.frame.DataFrame

In [62]:
type(city)

list

In [63]:
row,col = df.shape

In [64]:
row

3

In [65]:
col

1

In [66]:
df.shape

(3, 1)

In [67]:
df

        0
0  Berlin
1   Dhaka
2   Delhi

In [68]:
df = pd.DataFrame(city,columns=['City_in_World'])
df

  City_in_World
0        Berlin
1         Dhaka
2         Delhi

In [69]:
df = pd.DataFrame(city,columns=['City_in_World'],index=['Germany','Bangladesh','India'])
df

           City_in_World
Germany           Berlin
Bangladesh         Dhaka
India              Delhi

In [70]:
city2 = ['Rangpur','Chittagong','Sylhet']
#Zipping 2 lists in one table
df2 = pd.DataFrame(zip(city,city2),columns=['City1','City2'])
df2

    City1       City2
0  Berlin     Rangpur
1   Dhaka  Chittagong
2   Delhi      Sylhet

In [71]:
df.shape

(3, 1)

In [72]:
df2.shape

(3, 2)

In [73]:
#Two Dimensional Lists
city3 = [['Bavaria','Erlangen'],['NRW','Dortmund']]

In [74]:
city3

[['Bavaria', 'Erlangen'], ['NRW', 'Dortmund']]

In [75]:
df4 = pd.DataFrame(city3,columns=['State','City'])

In [76]:
df4

     State      City
0  Bavaria  Erlangen
1      NRW  Dortmund

In [77]:
#Dictionary
dict1 = {
    'city1':city,
    'city2':city2
}

In [78]:
dict1

{'city1': ['Berlin', 'Dhaka', 'Delhi'],
 'city2': ['Rangpur', 'Chittagong', 'Sylhet']}

In [79]:
df5= pd.DataFrame(dict1)

In [80]:
df5

    city1       city2
0  Berlin     Rangpur
1   Dhaka  Chittagong
2   Delhi      Sylhet

In [81]:
type(df5)

pandas.core.frame.DataFrame

In [82]:
type(dict1)

dict

In [83]:
#impoorting csv files
df = pd.read_csv('/mnt/c/Users/xtanv/Study Mart/Dataset/Screen Time Data.csv')

In [84]:
df

          Date  Usage  Notifications  Times opened        App
0   08/26/2022     38             70            49  Instagram
1   08/27/2022     39             43            48  Instagram
2   08/28/2022     64            231            55  Instagram
3   08/29/2022     14             35            23  Instagram
4   08/30/2022      3             19             5  Instagram
5   08/31/2022     19             25            20  Instagram
6   09/01/2022     44             23            57  Instagram
7   09/02/2022     16             28            22  Instagram
8   09/03/2022     27             15            25  Instagram
9   09/04/2022     72             29            30  Instagram
10  09/05/2022     42             24            51  Instagram
11  09/06/2022     19             34            25  Instagram
12  09/07/2022     38             23            19  Instagram
13  09/08/2022     71             48            43  Instagram
14  09/09/2022     43             68            70  Instagram
15  09/10/2022     45             71            70  Instagram
16  09/11/2022     94            180            95  Instagram
17  09/12/2022    114             99           102  Instagram
18  09/13/2022     17             45            39  Instagram
19  09/14/2022      1             10             2  Instagram
20  09/15/2022      2             15             4  Instagram
21  09/16/2022      3             13             5  Instagram
22  09/17/2022      2              9             3  Instagram
23  09/18/2022      3              8             5  Instagram
24  09/19/2022      4              8             3  Instagram
25  09/20/2022      5             11             5  Instagram
26  09/21/2022      2             12             8  Instagram
27  08/26/2022     82            209           105   Whatsapp
28  08/27/2022     69            111            68   Whatsapp
29  08/28/2022    130            183            86   Whatsapp
30  08/29/2022     59            157            74   Whatsapp
31  08/30/2022    128            246            87   Whatsapp
32  08/31/2022    108            169            77   Whatsapp
33  09/01/2022     23             99            47   Whatsapp
34  09/02/2022     76            144           103   Whatsapp
35  09/03/2022      1             80            16   Whatsapp
36  09/04/2022      6             38            33   Whatsapp
37  09/05/2022    126            218           121   Whatsapp
38  09/06/2022     91            205           110   Whatsapp
39  09/07/2022    160            212            83   Whatsapp
40  09/08/2022     69            217            82   Whatsapp
41  09/09/2022    119            405           192   Whatsapp
42  09/10/2022    103            166            79   Whatsapp
43  09/11/2022    203            173            92   Whatsapp
44  09/12/2022    182            290           172   Whatsapp
45  09/13/2022     71            153            91   Whatsapp
46  09/14/2022     64            192            67   Whatsapp
47  09/15/2022     50            181            58   Whatsapp
48  09/16/2022     71            176            91   Whatsapp
49  09/17/2022    212            212           120   Whatsapp
50  09/18/2022    244            303           132   Whatsapp
51  09/19/2022     77            169           105   Whatsapp
52  09/20/2022     58            190            78   Whatsapp
53  09/21/2022     89            262            68   Whatsapp

In [85]:
df.head() #will show first 5 row

         Date  Usage  Notifications  Times opened        App
0  08/26/2022     38             70            49  Instagram
1  08/27/2022     39             43            48  Instagram
2  08/28/2022     64            231            55  Instagram
3  08/29/2022     14             35            23  Instagram
4  08/30/2022      3             19             5  Instagram

In [86]:
df.tail() #will show last 5 row

          Date  Usage  Notifications  Times opened       App
49  09/17/2022    212            212           120  Whatsapp
50  09/18/2022    244            303           132  Whatsapp
51  09/19/2022     77            169           105  Whatsapp
52  09/20/2022     58            190            78  Whatsapp
53  09/21/2022     89            262            68  Whatsapp

In [87]:
df.head(10) # first 10

         Date  Usage  Notifications  Times opened        App
0  08/26/2022     38             70            49  Instagram
1  08/27/2022     39             43            48  Instagram
2  08/28/2022     64            231            55  Instagram
3  08/29/2022     14             35            23  Instagram
4  08/30/2022      3             19             5  Instagram
5  08/31/2022     19             25            20  Instagram
6  09/01/2022     44             23            57  Instagram
7  09/02/2022     16             28            22  Instagram
8  09/03/2022     27             15            25  Instagram
9  09/04/2022     72             29            30  Instagram

In [88]:
df.shape

(54, 5)

In [89]:
df.values

array([['08/26/2022', 38, 70, 49, 'Instagram'],
       ['08/27/2022', 39, 43, 48, 'Instagram'],
       ['08/28/2022', 64, 231, 55, 'Instagram'],
       ['08/29/2022', 14, 35, 23, 'Instagram'],
       ['08/30/2022', 3, 19, 5, 'Instagram'],
       ['08/31/2022', 19, 25, 20, 'Instagram'],
       ['09/01/2022', 44, 23, 57, 'Instagram'],
       ['09/02/2022', 16, 28, 22, 'Instagram'],
       ['09/03/2022', 27, 15, 25, 'Instagram'],
       ['09/04/2022', 72, 29, 30, 'Instagram'],
       ['09/05/2022', 42, 24, 51, 'Instagram'],
       ['09/06/2022', 19, 34, 25, 'Instagram'],
       ['09/07/2022', 38, 23, 19, 'Instagram'],
       ['09/08/2022', 71, 48, 43, 'Instagram'],
       ['09/09/2022', 43, 68, 70, 'Instagram'],
       ['09/10/2022', 45, 71, 70, 'Instagram'],
       ['09/11/2022', 94, 180, 95, 'Instagram'],
       ['09/12/2022', 114, 99, 102, 'Instagram'],
       ['09/13/2022', 17, 45, 39, 'Instagram'],
       ['09/14/2022', 1, 10, 2, 'Instagram'],
       ['09/15/2022', 2, 15, 4, 'Instagram'],
       ['09/16/2022', 3, 13, 5, 'Instagram'],
       ['09/17/2022', 2, 9, 3, 'Instagram'],
       ['09/18/2022', 3, 8, 5, 'Instagram'],
       ['09/19/2022', 4, 8, 3, 'Instagram'],
       ['09/20/2022', 5, 11, 5, 'Instagram'],
       ['09/21/2022', 2, 12, 8, 'Instagram'],
       ['08/26/2022', 82, 209, 105, 'Whatsapp'],
       ['08/27/2022', 69, 111, 68, 'Whatsapp'],
       ['08/28/2022', 130, 183, 86, 'Whatsapp'],
       ['08/29/2022', 59, 157, 74, 'Whatsapp'],
       ['08/30/2022', 128, 246, 87, 'Whatsapp'],
       ['08/31/2022', 108, 169, 77, 'Whatsapp'],
       ['09/01/2022', 23, 99, 47, 'Whatsapp'],
       ['09/02/2022', 76, 144, 103, 'Whatsapp'],
       ['09/03/2022', 1, 80, 16, 'Whatsapp'],
       ['09/04/2022', 6, 38, 33, 'Whatsapp'],
       ['09/05/2022', 126, 218, 121, 'Whatsapp'],
       ['09/06/2022', 91, 205, 110, 'Whatsapp'],
       ['09/07/2022', 160, 212, 83, 'Whatsapp'],
       ['09/08/2022', 69, 217, 82, 'Whatsapp'],
       ['09/09/2022', 119, 405, 192, 'Whatsapp'],
       ['09/10/2022', 103, 166, 79, 'Whatsapp'],
       ['09/11/2022', 203, 173, 92, 'Whatsapp'],
       ['09/12/2022', 182, 290, 172, 'Whatsapp'],
       ['09/13/2022', 71, 153, 91, 'Whatsapp'],
       ['09/14/2022', 64, 192, 67, 'Whatsapp'],
       ['09/15/2022', 50, 181, 58, 'Whatsapp'],
       ['09/16/2022', 71, 176, 91, 'Whatsapp'],
       ['09/17/2022', 212, 212, 120, 'Whatsapp'],
       ['09/18/2022', 244, 303, 132, 'Whatsapp'],
       ['09/19/2022', 77, 169, 105, 'Whatsapp'],
       ['09/20/2022', 58, 190, 78, 'Whatsapp'],
       ['09/21/2022', 89, 262, 68, 'Whatsapp']], dtype=object)

In [90]:
df.columns

Index(['Date', 'Usage', 'Notifications', 'Times opened', 'App'], dtype='object')

In [91]:
df.index

RangeIndex(start=0, stop=54, step=1)

In [92]:
df.Date

0     08/26/2022
1     08/27/2022
2     08/28/2022
3     08/29/2022
4     08/30/2022
5     08/31/2022
6     09/01/2022
7     09/02/2022
8     09/03/2022
9     09/04/2022
10    09/05/2022
11    09/06/2022
12    09/07/2022
13    09/08/2022
14    09/09/2022
15    09/10/2022
16    09/11/2022
17    09/12/2022
18    09/13/2022
19    09/14/2022
20    09/15/2022
21    09/16/2022
22    09/17/2022
23    09/18/2022
24    09/19/2022
25    09/20/2022
26    09/21/2022
27    08/26/2022
28    08/27/2022
29    08/28/2022
30    08/29/2022
31    08/30/2022
32    08/31/2022
33    09/01/2022
34    09/02/2022
35    09/03/2022
36    09/04/2022
37    09/05/2022
38    09/06/2022
39    09/07/2022
40    09/08/2022
41    09/09/2022
42    09/10/2022
43    09/11/2022
44    09/12/2022
45    09/13/2022
46    09/14/2022
47    09/15/2022
48    09/16/2022
49    09/17/2022
50    09/18/2022
51    09/19/2022
52    09/20/2022
53    09/21/2022
Name: Date, dtype: object

In [93]:
df.Date.head(20)

0     08/26/2022
1     08/27/2022
2     08/28/2022
3     08/29/2022
4     08/30/2022
5     08/31/2022
6     09/01/2022
7     09/02/2022
8     09/03/2022
9     09/04/2022
10    09/05/2022
11    09/06/2022
12    09/07/2022
13    09/08/2022
14    09/09/2022
15    09/10/2022
16    09/11/2022
17    09/12/2022
18    09/13/2022
19    09/14/2022
Name: Date, dtype: object

In [94]:
df[['Times opened']]

    Times opened
0             49
1             48
2             55
3             23
4              5
5             20
6             57
7             22
8             25
9             30
10            51
11            25
12            19
13            43
14            70
15            70
16            95
17           102
18            39
19             2
20             4
21             5
22             3
23             5
24             3
25             5
26             8
27           105
28            68
29            86
30            74
31            87
32            77
33            47
34           103
35            16
36            33
37           121
38           110
39            83
40            82
41           192
42            79
43            92
44           172
45            91
46            67
47            58
48            91
49           120
50           132
51           105
52            78
53            68

In [95]:
df[['Date','Times opened']]

          Date  Times opened
0   08/26/2022            49
1   08/27/2022            48
2   08/28/2022            55
3   08/29/2022            23
4   08/30/2022             5
5   08/31/2022            20
6   09/01/2022            57
7   09/02/2022            22
8   09/03/2022            25
9   09/04/2022            30
10  09/05/2022            51
11  09/06/2022            25
12  09/07/2022            19
13  09/08/2022            43
14  09/09/2022            70
15  09/10/2022            70
16  09/11/2022            95
17  09/12/2022           102
18  09/13/2022            39
19  09/14/2022             2
20  09/15/2022             4
21  09/16/2022             5
22  09/17/2022             3
23  09/18/2022             5
24  09/19/2022             3
25  09/20/2022             5
26  09/21/2022             8
27  08/26/2022           105
28  08/27/2022            68
29  08/28/2022            86
30  08/29/2022            74
31  08/30/2022            87
32  08/31/2022            77
33  09/01/2022            47
34  09/02/2022           103
35  09/03/2022            16
36  09/04/2022            33
37  09/05/2022           121
38  09/06/2022           110
39  09/07/2022            83
40  09/08/2022            82
41  09/09/2022           192
42  09/10/2022            79
43  09/11/2022            92
44  09/12/2022           172
45  09/13/2022            91
46  09/14/2022            67
47  09/15/2022            58
48  09/16/2022            91
49  09/17/2022           120
50  09/18/2022           132
51  09/19/2022           105
52  09/20/2022            78
53  09/21/2022            68

In [96]:
df.head()

         Date  Usage  Notifications  Times opened        App
0  08/26/2022     38             70            49  Instagram
1  08/27/2022     39             43            48  Instagram
2  08/28/2022     64            231            55  Instagram
3  08/29/2022     14             35            23  Instagram
4  08/30/2022      3             19             5  Instagram

In [97]:
df['Notifications'].sort_values()

23      8
24      8
22      9
19     10
25     11
26     12
21     13
8      15
20     15
4      19
6      23
12     23
10     24
5      25
7      28
9      29
11     34
3      35
36     38
1      43
18     45
13     48
14     68
0      70
15     71
35     80
17     99
33     99
28    111
34    144
45    153
30    157
42    166
32    169
51    169
43    173
48    176
16    180
47    181
29    183
52    190
46    192
38    205
27    209
39    212
49    212
40    217
37    218
2     231
31    246
53    262
44    290
50    303
41    405
Name: Notifications, dtype: int64

In [98]:
df['Notifications'].sort_values(ascending=False)

41    405
50    303
44    290
53    262
31    246
2     231
37    218
40    217
49    212
39    212
27    209
38    205
46    192
52    190
29    183
47    181
16    180
48    176
43    173
51    169
32    169
42    166
30    157
45    153
34    144
28    111
17     99
33     99
35     80
15     71
0      70
14     68
13     48
18     45
1      43
36     38
3      35
11     34
9      29
7      28
5      25
10     24
12     23
6      23
4      19
20     15
8      15
21     13
26     12
25     11
19     10
22      9
24      8
23      8
Name: Notifications, dtype: int64

In [99]:
df.sort_values('Notifications',ascending=False)

          Date  Usage  Notifications  Times opened        App
41  09/09/2022    119            405           192   Whatsapp
50  09/18/2022    244            303           132   Whatsapp
44  09/12/2022    182            290           172   Whatsapp
53  09/21/2022     89            262            68   Whatsapp
31  08/30/2022    128            246            87   Whatsapp
2   08/28/2022     64            231            55  Instagram
37  09/05/2022    126            218           121   Whatsapp
40  09/08/2022     69            217            82   Whatsapp
49  09/17/2022    212            212           120   Whatsapp
39  09/07/2022    160            212            83   Whatsapp
27  08/26/2022     82            209           105   Whatsapp
38  09/06/2022     91            205           110   Whatsapp
46  09/14/2022     64            192            67   Whatsapp
52  09/20/2022     58            190            78   Whatsapp
29  08/28/2022    130            183            86   Whatsapp
47  09/15/2022     50            181            58   Whatsapp
16  09/11/2022     94            180            95  Instagram
48  09/16/2022     71            176            91   Whatsapp
43  09/11/2022    203            173            92   Whatsapp
51  09/19/2022     77            169           105   Whatsapp
32  08/31/2022    108            169            77   Whatsapp
42  09/10/2022    103            166            79   Whatsapp
30  08/29/2022     59            157            74   Whatsapp
45  09/13/2022     71            153            91   Whatsapp
34  09/02/2022     76            144           103   Whatsapp
28  08/27/2022     69            111            68   Whatsapp
17  09/12/2022    114             99           102  Instagram
33  09/01/2022     23             99            47   Whatsapp
35  09/03/2022      1             80            16   Whatsapp
15  09/10/2022     45             71            70  Instagram
0   08/26/2022     38             70            49  Instagram
14  09/09/2022     43             68            70  Instagram
13  09/08/2022     71             48            43  Instagram
18  09/13/2022     17             45            39  Instagram
1   08/27/2022     39             43            48  Instagram
36  09/04/2022      6             38            33   Whatsapp
3   08/29/2022     14             35            23  Instagram
11  09/06/2022     19             34            25  Instagram
9   09/04/2022     72             29            30  Instagram
7   09/02/2022     16             28            22  Instagram
5   08/31/2022     19             25            20  Instagram
10  09/05/2022     42             24            51  Instagram
12  09/07/2022     38             23            19  Instagram
6   09/01/2022     44             23            57  Instagram
4   08/30/2022      3             19             5  Instagram
20  09/15/2022      2             15             4  Instagram
8   09/03/2022     27             15            25  Instagram
21  09/16/2022      3             13             5  Instagram
26  09/21/2022      2             12             8  Instagram
25  09/20/2022      5             11             5  Instagram
19  09/14/2022      1             10             2  Instagram
22  09/17/2022      2              9             3  Instagram
24  09/19/2022      4              8             3  Instagram
23  09/18/2022      3              8             5  Instagram

In [100]:
df.describe()

            Usage  Notifications  Times opened
count   54.000000      54.000000     54.000000
mean    65.037037     117.703704     61.481481
std     58.317272      97.017530     43.836635
min      1.000000       8.000000      2.000000
25%     17.500000      25.750000     23.500000
50%     58.500000      99.000000     62.500000
75%     90.500000     188.250000     90.000000
max    244.000000     405.000000    192.000000

In [101]:
df[df['Times opened']>100]

          Date  Usage  Notifications  Times opened        App
17  09/12/2022    114             99           102  Instagram
27  08/26/2022     82            209           105   Whatsapp
34  09/02/2022     76            144           103   Whatsapp
37  09/05/2022    126            218           121   Whatsapp
38  09/06/2022     91            205           110   Whatsapp
41  09/09/2022    119            405           192   Whatsapp
44  09/12/2022    182            290           172   Whatsapp
49  09/17/2022    212            212           120   Whatsapp
50  09/18/2022    244            303           132   Whatsapp
51  09/19/2022     77            169           105   Whatsapp

In [102]:
df[df['App']=='Instagram']

          Date  Usage  Notifications  Times opened        App
0   08/26/2022     38             70            49  Instagram
1   08/27/2022     39             43            48  Instagram
2   08/28/2022     64            231            55  Instagram
3   08/29/2022     14             35            23  Instagram
4   08/30/2022      3             19             5  Instagram
5   08/31/2022     19             25            20  Instagram
6   09/01/2022     44             23            57  Instagram
7   09/02/2022     16             28            22  Instagram
8   09/03/2022     27             15            25  Instagram
9   09/04/2022     72             29            30  Instagram
10  09/05/2022     42             24            51  Instagram
11  09/06/2022     19             34            25  Instagram
12  09/07/2022     38             23            19  Instagram
13  09/08/2022     71             48            43  Instagram
14  09/09/2022     43             68            70  Instagram
15  09/10/2022     45             71            70  Instagram
16  09/11/2022     94            180            95  Instagram
17  09/12/2022    114             99           102  Instagram
18  09/13/2022     17             45            39  Instagram
19  09/14/2022      1             10             2  Instagram
20  09/15/2022      2             15             4  Instagram
21  09/16/2022      3             13             5  Instagram
22  09/17/2022      2              9             3  Instagram
23  09/18/2022      3              8             5  Instagram
24  09/19/2022      4              8             3  Instagram
25  09/20/2022      5             11             5  Instagram
26  09/21/2022      2             12             8  Instagram

In [103]:
df[(df['App']=='Instagram') | (df['App']=='Whatsapp')  ]

          Date  Usage  Notifications  Times opened        App
0   08/26/2022     38             70            49  Instagram
1   08/27/2022     39             43            48  Instagram
2   08/28/2022     64            231            55  Instagram
3   08/29/2022     14             35            23  Instagram
4   08/30/2022      3             19             5  Instagram
5   08/31/2022     19             25            20  Instagram
6   09/01/2022     44             23            57  Instagram
7   09/02/2022     16             28            22  Instagram
8   09/03/2022     27             15            25  Instagram
9   09/04/2022     72             29            30  Instagram
10  09/05/2022     42             24            51  Instagram
11  09/06/2022     19             34            25  Instagram
12  09/07/2022     38             23            19  Instagram
13  09/08/2022     71             48            43  Instagram
14  09/09/2022     43             68            70  Instagram
15  09/10/2022     45             71            70  Instagram
16  09/11/2022     94            180            95  Instagram
17  09/12/2022    114             99           102  Instagram
18  09/13/2022     17             45            39  Instagram
19  09/14/2022      1             10             2  Instagram
20  09/15/2022      2             15             4  Instagram
21  09/16/2022      3             13             5  Instagram
22  09/17/2022      2              9             3  Instagram
23  09/18/2022      3              8             5  Instagram
24  09/19/2022      4              8             3  Instagram
25  09/20/2022      5             11             5  Instagram
26  09/21/2022      2             12             8  Instagram
27  08/26/2022     82            209           105   Whatsapp
28  08/27/2022     69            111            68   Whatsapp
29  08/28/2022    130            183            86   Whatsapp
30  08/29/2022     59            157            74   Whatsapp
31  08/30/2022    128            246            87   Whatsapp
32  08/31/2022    108            169            77   Whatsapp
33  09/01/2022     23             99            47   Whatsapp
34  09/02/2022     76            144           103   Whatsapp
35  09/03/2022      1             80            16   Whatsapp
36  09/04/2022      6             38            33   Whatsapp
37  09/05/2022    126            218           121   Whatsapp
38  09/06/2022     91            205           110   Whatsapp
39  09/07/2022    160            212            83   Whatsapp
40  09/08/2022     69            217            82   Whatsapp
41  09/09/2022    119            405           192   Whatsapp
42  09/10/2022    103            166            79   Whatsapp
43  09/11/2022    203            173            92   Whatsapp
44  09/12/2022    182            290           172   Whatsapp
45  09/13/2022     71            153            91   Whatsapp
46  09/14/2022     64            192            67   Whatsapp
47  09/15/2022     50            181            58   Whatsapp
48  09/16/2022     71            176            91   Whatsapp
49  09/17/2022    212            212           120   Whatsapp
50  09/18/2022    244            303           132   Whatsapp
51  09/19/2022     77            169           105   Whatsapp
52  09/20/2022     58            190            78   Whatsapp
53  09/21/2022     89            262            68   Whatsapp

In [104]:
df['App'].isin(['Instagram','Whatsapp'])

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
43    True
44    True
45    True
46    True
47    True
48    True
49    True
50    True
51    True
52    True
53    True
Name: App, dtype: bool

In [105]:
df[df['App'].isin(['Instagram','Whatsapp'])]

          Date  Usage  Notifications  Times opened        App
0   08/26/2022     38             70            49  Instagram
1   08/27/2022     39             43            48  Instagram
2   08/28/2022     64            231            55  Instagram
3   08/29/2022     14             35            23  Instagram
4   08/30/2022      3             19             5  Instagram
5   08/31/2022     19             25            20  Instagram
6   09/01/2022     44             23            57  Instagram
7   09/02/2022     16             28            22  Instagram
8   09/03/2022     27             15            25  Instagram
9   09/04/2022     72             29            30  Instagram
10  09/05/2022     42             24            51  Instagram
11  09/06/2022     19             34            25  Instagram
12  09/07/2022     38             23            19  Instagram
13  09/08/2022     71             48            43  Instagram
14  09/09/2022     43             68            70  Instagram
15  09/10/2022     45             71            70  Instagram
16  09/11/2022     94            180            95  Instagram
17  09/12/2022    114             99           102  Instagram
18  09/13/2022     17             45            39  Instagram
19  09/14/2022      1             10             2  Instagram
20  09/15/2022      2             15             4  Instagram
21  09/16/2022      3             13             5  Instagram
22  09/17/2022      2              9             3  Instagram
23  09/18/2022      3              8             5  Instagram
24  09/19/2022      4              8             3  Instagram
25  09/20/2022      5             11             5  Instagram
26  09/21/2022      2             12             8  Instagram
27  08/26/2022     82            209           105   Whatsapp
28  08/27/2022     69            111            68   Whatsapp
29  08/28/2022    130            183            86   Whatsapp
30  08/29/2022     59            157            74   Whatsapp
31  08/30/2022    128            246            87   Whatsapp
32  08/31/2022    108            169            77   Whatsapp
33  09/01/2022     23             99            47   Whatsapp
34  09/02/2022     76            144           103   Whatsapp
35  09/03/2022      1             80            16   Whatsapp
36  09/04/2022      6             38            33   Whatsapp
37  09/05/2022    126            218           121   Whatsapp
38  09/06/2022     91            205           110   Whatsapp
39  09/07/2022    160            212            83   Whatsapp
40  09/08/2022     69            217            82   Whatsapp
41  09/09/2022    119            405           192   Whatsapp
42  09/10/2022    103            166            79   Whatsapp
43  09/11/2022    203            173            92   Whatsapp
44  09/12/2022    182            290           172   Whatsapp
45  09/13/2022     71            153            91   Whatsapp
46  09/14/2022     64            192            67   Whatsapp
47  09/15/2022     50            181            58   Whatsapp
48  09/16/2022     71            176            91   Whatsapp
49  09/17/2022    212            212           120   Whatsapp
50  09/18/2022    244            303           132   Whatsapp
51  09/19/2022     77            169           105   Whatsapp
52  09/20/2022     58            190            78   Whatsapp
53  09/21/2022     89            262            68   Whatsapp

In [106]:
df.head()

         Date  Usage  Notifications  Times opened        App
0  08/26/2022     38             70            49  Instagram
1  08/27/2022     39             43            48  Instagram
2  08/28/2022     64            231            55  Instagram
3  08/29/2022     14             35            23  Instagram
4  08/30/2022      3             19             5  Instagram

In [107]:
conda install gspread

3357.25s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Channels:
 - conda-forge
 - rapidsai
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [108]:
import gspread